*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: #6278F7;
    background-image: url('../../public/fundo.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  
}
.container span {
    display: flex;
    gap: 4rem;
}
.container p {
    
    font-size: 1.5rem;
    font-family: monospace;
    color: #fff;
}

@media screen and (max-width: 1040px) {
    .container span {
        display: flex;
        gap: 4rem;
    }

    
   
  }
  @media screen and (max-width: 710px) {
    .container span {
        display: none;
        
    }

    
   
  }