.containerForm {

    max-width:60%;
    width: 67.169vw;
    height:50.294vh; 
    margin: 0 auto;
    background-color:transparent;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    opacity: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 3rem;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    

}
.containerForm h4{
    font-family: 'Lucida Sans Regular' sans-serif;
    color: #212121;
    text-align: center;
}
.containerInputSubmit input{
    width: 90px;
    height: 40px;
    
    color: #fff;
    background-color: #6278F7;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.containerInputSubmit{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}
.containerInputSubmit input:hover{
    background-color: #4F5FEE;
   
}
@media screen and (max-width: 860px) {
    .containerForm {
        padding: 1rem;
    }
    .containerInputSubmit{
        
        margin-top: 0.25rem;
    }
    .containerInputSubmit{
        
        margin-top: 0;
    }
  }


