*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
   height: 450px;
   padding: 2rem;
   margin: 2rem ;
   
}

.container h3 {
    border-bottom: 4px solid;
    font-size: 3rem;
    display: block;
    color: #b86f6f;
    font-weight: 500;
    text-align: center;
    
}
.containerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
}
