*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerInput{
    margin: 1rem;
}

.containerInput label{
    display: block;
    color:aqua;
    
    
}

.containerInput input{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0.625rem;
    margin-top: 0.625rem;
    color: #212121;
}
@media screen and (max-width: 1040px) {
    .containerInput{
        margin-top: 0;
    }
   
  }